@charset "UTF-8";
.title {
  font-size: 28px;
  font-weight: bold;
  position: relative; }
  .title::before {
    content: '';
    position: absolute;
    background-color: aqua;
    width: 4px;
    height: 120%;
    border-radius: 0 5px 5px 0;
    transform: translateY(-55%);
    top: 50%;
    left: -20px;
    opacity: 0.5; }
  .title--modal {
    font-size: 24px; }
    .title--modal::before {
      left: -30px; }

.language-switcher {
  display: flex;
  font-weight: 600;
  gap: 8px;
  font-size: 16px;
  margin: 12px 0; }
  .language-switcher__item--active {
    color: gray; }
  .language-switcher__item:hover {
    color: gray; }

.content {
  display: flex;
  flex-direction: column;
  padding: 16px 0; }

.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  alignment: bottom; }
  .footer__icons {
    display: flex;
    gap: 14px; }
  @media (max-height: 700px) {
    .footer {
      position: relative; } }

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0; }
  .header-menu__left, .header-menu__right {
    display: flex;
    align-items: center;
    gap: 12px; }

.header-modal {
  width: 100%;
  padding: 10px 0; }
  .header-modal__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; }
  .header-modal__left, .header-modal__right {
    display: flex;
    align-items: center; }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 20px 20px;
  align-self: flex-start;
  border-bottom: 1px solid #d7fdf4; }

.page-title__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }

.page-title__left, .page-title__right {
  display: flex;
  align-items: center;
  gap: 12px; }

.page-title__button {
  display: none; }

.page-title__button-title {
  display: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600; }

@media (min-width: 1366px) {
  .page-title__button {
    display: flex;
    align-items: center;
    gap: 8px; }
  .page-title__button-title {
    display: inline-block; } }

.phone {
  font-weight: bold;
  margin: 16px 0;
  font-size: 22px; }

.mail {
  font-weight: 600;
  margin: 16px 0 0 0; }

.icon {
  position: relative;
  height: 40px;
  width: 40px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .icon--divider {
    width: 5px;
    background-image: url(./static/divider.svg); }
  .icon--cps-logo {
    height: 50px;
    width: 100px;
    background-image: url(./static/cps-logo.png); }
  .icon--menu {
    background-image: url(./static/burger-icon.svg); }
    .icon--menu::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--menu:hover::before {
      opacity: 1; }
  .icon--repair {
    background-image: url(./static/repair-icon.svg); }
    .icon--repair::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--repair:hover::before {
      opacity: 1; }
  .icon--status {
    background-image: url(./static/status-icon.svg); }
    .icon--status::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--status:hover::before {
      opacity: 1; }
  .icon--search {
    background-image: url(./static/search-icon.svg); }
    .icon--search::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--search:hover::before {
      opacity: 1; }
  .icon--profile {
    background-image: url(./static/profile-icon.svg); }
    .icon--profile::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--profile:hover::before {
      opacity: 1; }
  .icon--chat {
    background-image: url(./static/chat-icon.svg); }
    .icon--chat::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--chat:hover::before {
      opacity: 1; }
  .icon--call {
    background-image: url(./static/call-icon.svg); }
    .icon--call::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--call:hover::before {
      opacity: 1; }
  .icon--close {
    background-image: url(./static/close-icon.svg); }
    .icon--close::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(rgba(119, 119, 119, 0.38), #380000);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease;
      border-radius: 50%; }
    .icon--close:hover::before {
      opacity: 1; }
  .icon--move-on {
    background-image: url(./static/move-on.svg); }
  .icon--drop-down {
    transition: transform 0.4s ease;
    transform: rotate(0deg);
    display: inline-block;
    position: relative;
    bottom: 2px;
    background-color: rgba(64, 244, 213, 0);
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background-image: url(./static/drop-down.svg); }
  .icon--purple-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    position: relative;
    top: 1px;
    background-image: url(./static/purple-arrow.svg); }
  .icon--white-arrow {
    width: 10px;
    height: 10px;
    background-image: url(./static/button-arrow.svg); }
  .icon--rotate {
    transform: rotate(180deg); }

.menu {
  display: none;
  padding: 16px 20px; }
  .menu--side {
    background-color: white;
    position: sticky;
    top: 0;
    width: 320px;
    box-sizing: border-box;
    height: 100vh;
    flex-direction: column; }
    @media (max-width: 320px) {
      .menu--side {
        width: 100%; } }
    @media (max-width: 1439px) {
      .menu--side {
        box-shadow: rgba(0, 0, 0, 0.18) 10px 0 30px 10px; } }
  .menu--open {
    background-color: white;
    position: sticky;
    width: 320px;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    flex-direction: column; }
    @media (max-width: 320px) {
      .menu--open {
        width: 100%; } }
  .menu--row {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; }
  .menu--swiper {
    margin: 0 -20px;
    padding: 0;
    position: relative;
    overflow: hidden; }
    .menu--swiper::before {
      position: absolute;
      content: '';
      left: -10px;
      z-index: 10;
      background-image: linear-gradient(to right, #f6f6f7 40%, rgba(246, 246, 247, 0) 80%);
      width: 40px;
      height: 40px;
      box-sizing: border-box; }
    .menu--swiper::after {
      position: absolute;
      content: '';
      right: -10px;
      z-index: 10;
      background-image: linear-gradient(to left, #f6f6f7 40%, rgba(246, 246, 247, 0) 80%);
      width: 40px;
      height: 40px;
      box-sizing: border-box; }
  .menu__list {
    margin-top: 0; }
  .menu__input {
    border: 1px solid #b7fdeb;
    border-radius: 6px;
    height: 40px;
    box-sizing: border-box;
    width: 240px; }
    .menu__input::-moz-placeholder {
      text-align: center;
      color: rgba(125, 125, 130, 0.88);
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600; }
    .menu__input::placeholder {
      text-align: center;
      color: rgba(125, 125, 130, 0.88);
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600; }
  .menu__link {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin: 12px 0;
    transition-duration: 0.4s; }
    .menu__link:hover {
      color: gray; }
      .menu__link:hover::before {
        content: '';
        position: absolute;
        background-color: aqua;
        width: 4px;
        height: 140%;
        border-radius: 0 5px 5px 0;
        transform: translateY(-60%);
        top: 50%;
        left: -20px;
        opacity: 0.5; }
    .menu__link--row {
      margin: 0;
      padding: 0 4px;
      color: gray;
      white-space: nowrap; }
      .menu__link--row:hover {
        color: black;
        background-image: linear-gradient(to bottom, #f6f6f7, rgba(0, 0, 0, 0.18) 40%, rgba(0, 0, 0, 0.18) 60%, #f6f6f7); }
        .menu__link--row:hover::before {
          content: none; }

.on-mobile {
  display: none; }

.on-tablet {
  display: none; }

.on-desktop {
  display: none; }

.not-mobile {
  display: flex; }

.not-tablet {
  display: flex; }

.not-desktop {
  display: flex; }

@media (max-width: 767px) {
  .on-mobile {
    display: flex; }
  .not-mobile {
    display: none; } }

@media (min-width: 768px) and (max-width: 1365px) {
  .on-tablet {
    display: flex; }
  .not-tablet {
    display: none; } }

@media (min-width: 1366px) {
  .on-desktop {
    display: flex; }
  .not-desktop {
    display: none; } }

.swiper {
  width: 100vw;
  padding-bottom: 30px !important; }
  .swiper--menu {
    padding-bottom: 0 !important; }

.swiper-pagination {
  bottom: 0 !important;
  /* Прижимаем к самому низу паддинга */ }

.swiper-wrapper--menu {
  padding: 0 20px; }

.company-info {
  padding: 20px 0;
  position: relative;
  display: grid;
  grid-template-columns: auto; }
  @media (min-width: 768px) {
    .company-info {
      grid-template-columns: 50% 50%; } }
  .company-info__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    max-height: 150px;
    max-width: 100%;
    font-size: 14px; }
    @media (min-width: 768px) {
      .company-info__description {
        padding: 10px 20px 0 0;
        max-height: 350px; } }
    .company-info__description--small {
      max-height: 50px; }
    .company-info__description--middle {
      max-height: 240px; }
    .company-info__description--open {
      max-height: none; }
  .company-info__logo {
    width: 100%; }

.content-side-paddings {
  padding-left: 20px;
  padding-right: 20px; }

.data-view {
  display: flex;
  flex-direction: column; }
  .data-view__title {
    padding: 20px 0;
    border-top: 1px solid #d7fdf4;
    background-image: linear-gradient(to right, #f6f6f7, white 60%); }
  .data-view__container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; }
  .data-view__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-row-gap: 16px; }

.card {
  display: flex;
  box-sizing: border-box;
  width: 240px;
  padding: 20px;
  background-color: white;
  border: solid 1px #eaeaea;
  border-radius: 6px;
  transition: background-color 0.5s ease-in-out; }
  .card:active {
    animation: activateButton 0.5s alternate infinite; }
  .card:hover {
    background-color: rgba(126, 126, 126, 0.36); }
  .card--brand {
    height: 72px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center; }
  .card--device-type {
    height: 160px;
    justify-content: space-between; }
  .card--price {
    font-size: 14px;
    height: 200px;
    width: 260px;
    flex-direction: column;
    justify-content: space-between; }
  .card__flex-column-wrapper {
    flex-direction: column; }
  .card__logo {
    height: 50px;
    max-width: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; }
    .card__logo--lenovo {
      background-image: url(./static/lenovo-logo.png); }
    .card__logo--samsung {
      background-image: url(./static/samsung-logo.png); }
    .card__logo--apple {
      background-image: url(./static/apple-logo.png); }
    .card__logo--bosch {
      background-image: url(./static/bosch-logo.png); }
    .card__logo--hp {
      background-image: url(./static/hp-logo.png); }
    .card__logo--acer {
      background-image: url(./static/acer-logo.png); }
  .card__icon-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end; }
  .card__row {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .card__field-title {
    color: gray; }
  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .card__device-type-name {
    font-weight: 600; }

@keyframes activateButton {
  0% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -20%, rgba(126, 126, 126, 0.36) 30%); }
  10% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -15%, rgba(126, 126, 126, 0.36) 30%); }
  20% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -12%, rgba(126, 126, 126, 0.36) 30%); }
  25% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -10%, rgba(126, 126, 126, 0.36) 30%); }
  50% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) 0%, rgba(126, 126, 126, 0.36) 30%); }
  75% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) 5%, rgba(126, 126, 126, 0.36) 30%); }
  100% {
    background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) 10%, rgba(126, 126, 126, 0.36) 30%); } }

.offer {
  max-width: 470px;
  height: auto;
  width: auto; }
  .offer__link {
    display: inline-block;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 600; }

.page-footer {
  color: #9f9fa3;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 22px;
  padding-top: 20px;
  border-top: 1px solid #d7fdf4; }
  @media (max-width: 767px) {
    .page-footer {
      display: flex;
      flex-direction: column;
      text-align: center; } }
  .page-footer__item--align-right {
    text-align: right; }

@media (max-width: 768px) {
  .page-footer {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .page-footer__item {
      padding-top: 20px; }
      .page-footer__item--align-right {
        text-align: center; } }

.button-primary {
  padding: 0 10px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #fd3e79;
  border-radius: 12px; }
  .button-primary__text {
    font-size: 10px;
    margin-right: 12px;
    font-weight: bold;
    text-transform: uppercase; }
  .button-primary--big {
    border-radius: 16px;
    height: 26px;
    width: 110px;
    padding: 0 16px; }

.price-table {
  width: 100%; }
  .price-table__header {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 10px 20px;
    color: gray; }
  .price-table__content {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; }
  .price-table__row-wrapper {
    padding: 20px 20px 0 20px; }
  .price-table__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .price-table__row {
    padding: 0 0 20px 0;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(128, 128, 128, 0.35); }
    .price-table__row--last {
      border: none; }

.swiper-slide {
  align-content: center; }
  .swiper-slide--price {
    width: 100%;
    display: flex !important;
    justify-content: center !important; }
  .swiper-slide--device-type {
    width: 100%;
    display: flex !important;
    justify-content: center !important; }
  .swiper-slide--brand {
    width: 100%;
    display: flex !important;
    justify-content: center !important; }

.button-drop-down {
  display: flex;
  align-items: center;
  align-self: start; }
  .button-drop-down--read-more {
    padding: 10px 0 0 0; }
  .button-drop-down--show-all {
    padding: 0 0 20px 20px; }
  .button-drop-down__text {
    font-weight: 600; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease; }
  .overlay--hidden {
    display: none;
    opacity: 0; }
  .overlay--modal {
    z-index: 60; }
  .overlay--menu {
    z-index: 40; }

.modal {
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 440px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 100;
  background-color: white;
  border-left: 1px solid #d7fdf4; }
  @media (max-width: 439px) {
    .modal {
      width: 100%;
      border: none;
      padding: 20px; } }
  .modal__content {
    display: flex;
    flex-direction: column; }
  .modal__close-icon {
    position: absolute;
    left: -50px;
    top: 22px; }
    @media (max-width: 500px) {
      .modal__close-icon {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 30px; } }
  .modal__input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e8e8e9; }
    .modal__input::-moz-placeholder {
      color: #b4b5bc;
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600; }
    .modal__input::placeholder {
      color: #b4b5bc;
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600; }
  .modal__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0; }
  .modal__text-area {
    box-sizing: border-box;
    height: 118px;
    border-radius: 8px;
    border: 1px solid #e8e8e9;
    padding: 16px; }
    .modal__text-area::-moz-placeholder {
      color: #b4b5bc;
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600; }
    .modal__text-area::placeholder {
      color: #b4b5bc;
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600; }
  .modal__privacy-policy {
    font-size: 14px;
    color: #7d7d82;
    font-weight: 600; }
  .modal__link {
    color: #fd3e79; }
  .modal__button {
    width: auto;
    align-self: end; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

body, html {
  padding: 0;
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  background-color: #f8f8f8;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

@media (min-width: 1366px) {
  body {
    display: grid;
    grid-template-columns: 320px auto; } }

.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden;
  height: 100vh; }

.show {
  position: absolute;
  display: flex; }

.z50 {
  z-index: 50; }

p {
  margin: 0; }

button {
  font-family: 'TT Lakes', sans-serif;
  border: none;
  background-color: rgba(255, 255, 255, 0); }

li {
  list-style-type: none; }

ul {
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

/**
 * Swiper 12.0.3
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2025 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 21, 2025
 */

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
  .swiper-slide,
  .swiper-cube-shadow {
    transform-style: preserve-3d;
  }
}

/* CSS Mode */
.swiper-css-mode {
  > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
  &.swiper-horizontal {
    > .swiper-wrapper {
      scroll-snap-type: x mandatory;
    }
  }
  &.swiper-vertical {
    > .swiper-wrapper {
      scroll-snap-type: y mandatory;
    }
  }
  &.swiper-free-mode {
    > .swiper-wrapper {
      scroll-snap-type: none;
    }
    > .swiper-wrapper > .swiper-slide {
      scroll-snap-align: none;
    }
  }
  &.swiper-centered {
    > .swiper-wrapper::before {
      content: '';
      flex-shrink: 0;
      order: 9999;
    }
    > .swiper-wrapper > .swiper-slide {
      scroll-snap-align: center center;
      scroll-snap-stop: always;
    }
  }
  &.swiper-centered.swiper-horizontal {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-inline-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      height: 100%;
      min-height: 1px;
      width: var(--swiper-centered-offset-after);
    }
  }
  &.swiper-centered.swiper-vertical {
    > .swiper-wrapper > .swiper-slide:first-child {
      margin-block-start: var(--swiper-centered-offset-before);
    }
    > .swiper-wrapper::before {
      width: 100%;
      min-width: 1px;
      height: var(--swiper-centered-offset-after);
    }
  }
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d {
  .swiper-slide-shadow,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom,
  .swiper-slide-shadow,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-slide-shadow {
    background: rgba(0, 0, 0, 0.15);
  }
  .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress),
.swiper-watch-progress .swiper-slide-visible {
  .swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s infinite linear;
  }
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */

.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}
.swiper-virtual.swiper-css-mode {
  .swiper-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}
.swiper-virtual.swiper-css-mode.swiper-horizontal {
  .swiper-wrapper::after {
    height: 1px;
    width: var(--swiper-virtual-size);
  }
}

.swiper-virtual.swiper-css-mode.swiper-vertical {
  .swiper-wrapper::after {
    width: 1px;
    height: var(--swiper-virtual-size);
  }
}



:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 4px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;

  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  &.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-navigation-disabled & {
    display: none !important;
  }
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center;
    fill: currentColor;
    pointer-events: none;
  }
}

.swiper-button-lock {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
}
.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 4px);
  right: auto;
  .swiper-navigation-icon {
    transform: rotate(180deg);
  }
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 4px);
  left: auto;
}
.swiper-horizontal {
  .swiper-button-prev,
  .swiper-button-next,
  ~ .swiper-button-prev,
  ~ .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 50%);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    margin-left: 0;
  }
  .swiper-button-prev,
  & ~ .swiper-button-prev,
  &.swiper-rtl .swiper-button-next,
  &.swiper-rtl ~ .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 4px);
    right: auto;
  }
  .swiper-button-next,
  & ~ .swiper-button-next,
  &.swiper-rtl .swiper-button-prev,
  &.swiper-rtl ~ .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 4px);
    left: auto;
  }
  .swiper-button-prev,
  & ~ .swiper-button-prev,
  &.swiper-rtl .swiper-button-next,
  &.swiper-rtl ~ .swiper-button-next {
    .swiper-navigation-icon {
      transform: rotate(180deg);
    }
  }
  &.swiper-rtl .swiper-button-prev,
  &.swiper-rtl ~ .swiper-button-prev {
    .swiper-navigation-icon {
      transform: rotate(0deg);
    }
  }
}
.swiper-vertical {
  .swiper-button-prev,
  .swiper-button-next,
  ~ .swiper-button-prev,
  ~ .swiper-button-next {
    left: var(--swiper-navigation-top-offset, 50%);
    right: auto;
    margin-left: calc(0px - (var(--swiper-navigation-size) / 2));
    margin-top: 0;
  }
  .swiper-button-prev,
  ~ .swiper-button-prev {
    top: var(--swiper-navigation-sides-offset, 4px);
    bottom: auto;
    .swiper-navigation-icon {
      transform: rotate(-90deg);
    }
  }
  .swiper-button-next,
  ~ .swiper-button-next {
    bottom: var(--swiper-navigation-sides-offset, 4px);
    top: auto;
    .swiper-navigation-icon {
      transform: rotate(90deg);
    }
  }
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  &.swiper-pagination-hidden {
    opacity: 0;
  }
  .swiper-pagination-disabled > &,
  &.swiper-pagination-disabled {
    display: none !important;
  }
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
  .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }
  .swiper-pagination-bullet-active {
    transform: scale(1);
  }
  .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }
  .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }
  .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }
  .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }
  .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  button& {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
  }
  .swiper-pagination-clickable & {
    cursor: pointer;
  }

  &:only-child {
    display: none !important;
  }
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
  .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
  }
  &.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    .swiper-pagination-bullet {
      display: inline-block;
      transition:
        200ms transform,
        200ms top;
    }
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    .swiper-pagination-bullet {
      transition:
        200ms transform,
        200ms left;
    }
  }
}
.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition:
    200ms transform,
    200ms right;
}
/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}
/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
  .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }
  .swiper-rtl & .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }
  .swiper-horizontal > &,
  &.swiper-pagination-horizontal,
  .swiper-vertical > &.swiper-pagination-progressbar-opposite,
  &.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 0;
    top: 0;
  }
  .swiper-vertical > &,
  &.swiper-pagination-vertical,
  .swiper-horizontal > &.swiper-pagination-progressbar-opposite,
  &.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
    width: var(--swiper-pagination-progressbar-size, 4px);
    height: 100%;
    left: 0;
    top: 0;
  }
}
.swiper-pagination-lock {
  display: none;
}

:root {
  /*
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 4px;
  */
}
.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
  .swiper-scrollbar-disabled > &,
  &.swiper-scrollbar-disabled {
    display: none !important;
  }
  .swiper-horizontal > &,
  &.swiper-scrollbar-horizontal {
    position: absolute;
    left: var(--swiper-scrollbar-sides-offset, 1%);
    bottom: var(--swiper-scrollbar-bottom, 4px);
    top: var(--swiper-scrollbar-top, auto);
    z-index: 50;
    height: var(--swiper-scrollbar-size, 4px);
    width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
  }
  .swiper-vertical > &,
  &.swiper-scrollbar-vertical {
    position: absolute;
    left: var(--swiper-scrollbar-left, auto);
    right: var(--swiper-scrollbar-right, 4px);
    top: var(--swiper-scrollbar-sides-offset, 1%);
    z-index: 50;
    width: var(--swiper-scrollbar-size, 4px);
    height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
  }
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}


/* Zoom container styles start */
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  > img,
  > svg,
  > canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
/* Zoom container styles end */

.swiper-slide-zoomed {
  cursor: move;
  touch-action: none;
}


/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}




.swiper-thumbs {
  .swiper-slide-thumb-active {
    /* Styles for active thumb slide */
  }
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}


.swiper-fade {
  &.swiper-free-mode {
    .swiper-slide {
      transition-timing-function: ease-out;
    }
  }
  .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
    .swiper-slide {
      pointer-events: none;
    }
  }
  .swiper-slide-active {
    pointer-events: auto;
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
}

.swiper.swiper-cube {
  overflow: visible;
}
.swiper-cube {
  .swiper-slide {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
    .swiper-slide {
      pointer-events: none;
    }
  }
  &.swiper-rtl .swiper-slide {
    transform-origin: 100% 0;
  }
  .swiper-slide-active {
    &,
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
  .swiper-slide-active,
  .swiper-slide-next,
  .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
  }

  .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;

    &:before {
      content: '';
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      filter: blur(50px);
    }
  }
}
.swiper-cube {
  .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
  }
}
/* Cube slide shadows start */
.swiper-cube {
  .swiper-slide-shadow-cube.swiper-slide-shadow-top,
  .swiper-slide-shadow-cube.swiper-slide-shadow-bottom,
  .swiper-slide-shadow-cube.swiper-slide-shadow-left,
  .swiper-slide-shadow-cube.swiper-slide-shadow-right {
    z-index: 0;
    backface-visibility: hidden;
  }
}
/* Cube slide shadows end */

.swiper.swiper-flip {
  overflow: visible;
}
.swiper-flip {
  .swiper-slide {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;
    .swiper-slide {
      pointer-events: none;
    }
  }
  .swiper-slide-active {
    &,
    & .swiper-slide-active {
      pointer-events: auto;
    }
  }
}
/* Flip slide shadows start */
.swiper-flip {
  .swiper-slide-shadow-flip.swiper-slide-shadow-top,
  .swiper-slide-shadow-flip.swiper-slide-shadow-bottom,
  .swiper-slide-shadow-flip.swiper-slide-shadow-left,
  .swiper-slide-shadow-flip.swiper-slide-shadow-right {
    z-index: 0;
    backface-visibility: hidden;
  }
}
/* Flip slide shadows end */

.swiper-coverflow {
}

.swiper-creative {
  .swiper-slide {
    backface-visibility: hidden;
    overflow: hidden;
    transition-property: transform, opacity, height;
  }
}

.swiper.swiper-cards {
  overflow: visible;
}
.swiper-cards {
  .swiper-slide {
    transform-origin: center bottom;
    backface-visibility: hidden;
    overflow: hidden;
  }
}


/*# sourceMappingURL=style.css.map*/