.footer {
  display: flex;
  flex-direction: column;

  position: absolute;
  bottom: 0;

  padding-bottom: 20px;
  alignment: bottom;

  &__icons {
    display: flex;
    gap: 14px;
  }

  @media (max-height: 700px) {
    position: relative;
  }
}

