.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.header__left-side,
.header__right-side {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__left-side {
    margin-right: 16px;
}

.icons {
  height: 40px;
  width: auto;
}

.icons--logo {
  height: 50px;
}

h1 {
  font-size: 28px;
  font-family: 'TT Lakes', sans-serif;
  font-weight: bold;
  position: relative;
  left: -12px;
}
