.menu {

  display: none;
  padding: 16px 20px;


  &--side {
    background-color: white;


    position: sticky;

    top:0;
    width: 320px;
    box-sizing: border-box;
    height: 100vh;
    flex-direction: column;
    @media (max-width: 320px) {
      width: 100%;
    }
    @media (max-width: 1439px) {
      box-shadow: rgba(0, 0, 0, 0.18) 10px 0 30px 10px ;
    }

  }

  &--open {
    background-color: white;

    position: sticky;
    width: 320px;
    top:0;

    box-sizing: border-box;
    height: 100vh;
    flex-direction: column;
    @media (max-width: 320px) {
      width: 100%;
    }

  }

  &--row {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  &--swiper {
    margin: 0 -20px;
    padding: 0;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      left: -10px;
      z-index: 10;

      background-image: linear-gradient(to right, #f6f6f7 40%, rgba(246, 246, 247, 0) 80%);

      width: 40px;
      height: 40px;
      box-sizing: border-box;
    }
    &::after {
      position: absolute;
      content: '';
      right: -10px;
      z-index: 10;

      background-image: linear-gradient(to left, #f6f6f7 40%, rgba(246, 246, 247, 0) 80%);

      width: 40px;
      height: 40px;
      box-sizing: border-box;
    }
  }

  &__list {
    margin-top: 0;
  }

  &__input {
    border: 1px solid #b7fdeb;
    border-radius: 6px;
    height: 40px;
    box-sizing: border-box;
    width: 240px;

    &::placeholder {
      //color: rgba(0, 0, 0, 0.47);
      text-align: center;

      color: rgba(125, 125, 130, 0.88);

      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 600;
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin: 12px 0;

    transition-duration: 0.4s;

    &:hover {
      color: gray;

      &::before {
        content: '';
        position: absolute;
        background-color: aqua;
        width: 4px;
        height: 140%;

        border-radius: 0 5px 5px 0;

        transform: translateY(-60%);
        top: 50%;
        left: -20px;

        opacity: 0.5;
      }
    }

    &--row {
      margin: 0;
      padding: 0 4px;
      color: gray;
      white-space: nowrap;

      &:hover {
        color: black;

        background-image: linear-gradient(to bottom, #f6f6f7, rgba(0, 0, 0, 0.18) 40%, rgba(0, 0, 0, 0.18) 60%, #f6f6f7);

        &::before {
          content: none;
        }
      }
    }
  }
}
