@import "title";
@import "language-switcher";
@import "content";
@import "container";
@import "footer";
@import "header-menu";
@import "header-modal";
@import "page-header";
@import "page-title";
@import "phone";
@import "mail";
@import "icon";
@import "menu";
@import "mixins";
@import "visibility";
@import "swiper";
@import "swiper-pagination";
@import "swiper-wrapper";
@import "company-info";
@import "content-padding";
@import "data-view";
@import "card";
@import "offer";
@import "page-footer";
@import "button-primary";
@import "price-table";
@import "swiper-slide";
@import "button-drop-down";
@import "overlay";
@import "modal";


$bgColor: rgba(248, 248, 248, 1);
$text: rgb(0, 0, 0);

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  background-color: $bgColor;
  color: $text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  @media (min-width: 1366px) {
    display: grid;
    grid-template-columns: 320px auto;
  }
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}

.show {
  position: absolute;
  display: flex;
}

.z50 {
  z-index: 50;
}

p {
  margin: 0;

}

button {
  font-family: 'TT Lakes', sans-serif;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

