@import "repair-brands";
@import "devices-repair";
@import "cost";
@import "footer";
@import "header";
@import "menu";
@import "service";
@import "media";

$bgColor: rgba(248, 248, 248, 1);
$text: rgb(0, 0, 0);

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  background-color: $bgColor;
  color: $text;
  //user-select: none;
  min-height: 100vh;
}

.hidden {
  display: none;
}

p {
  margin: 0;
}

button {
  border: none;
  background-color: white;
}

