.circle {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px #fd3e79;
}

.arrow {
    position: relative;
    left: 50%;
    box-shadow: 3px 3px 0 0 #fd3e79;
    top: 50%;
    transform: translateY(-50%) translateX(-100%) rotate(-45deg);
    border-radius: 2px;
    width: 10px;
    height: 10px;
}

.logo {
    max-height: 55px;
    max-width: 130px;
    height: auto;
    width: auto;
}

.card {
    display: flex;
    box-sizing: border-box;

    width: 240px;
    height: 72px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border: solid 1px gray;
    border-radius: 10px;

    transition: background-color 0.5s ease-in-out;
}
.card:hover {
    cursor: grab;
    background-color: rgba(126, 126, 126, 0.36);
}

@keyframes activateButton {
    0% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -20%, rgba(126, 126, 126, 0.36) 30%);
    }
    10% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -15%, rgba(126, 126, 126, 0.36) 30%);
    }
    20% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -12%, rgba(126, 126, 126, 0.36) 30%);
    }
    25% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) -10%, rgba(126, 126, 126, 0.36) 30%);
    }
    50% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) 0%, rgba(126, 126, 126, 0.36) 30%);
    }
    75% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) 5%, rgba(126, 126, 126, 0.36) 30%);
    }
    100% {
        background-image: linear-gradient(to top, rgba(119, 119, 119, 0.7) 10%, rgba(126, 126, 126, 0.36) 30%);
    }
}

.card:active {
    cursor: grabbing;
    animation: activateButton 0.5s alternate infinite;
}