body {
    width: 280px;
    height: 984px;
    /*border: black solid 2px;*/
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/

    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    padding: 20px;
}

.menu {
    margin-top: 40px;

    padding: 0;

    display: flex;
    flex-direction: column;
}

.menu_item {
    /*width: 80%;*/
    margin-left: -24px;
    padding: 0;
    float: left;
}

.menu_item button {
    display: block;
    font-weight: 600;

}

.button {
    margin: 5px 0;
    border: none;
    padding: 10px 0;

    background-color: white;

    font-weight: normal;
    font-size: 18px;

    text-align: left;
    vertical-align: center;

    font-family: 'TT Lakes', sans-serif;
}
.button:hover {
    opacity: 0.5;
    transition: 0.8s;
}
.menu_item:hover .decor {
    opacity: 1;
    transition: 0.8s;
}