.first-link-list, .second-link-list {
    display: grid;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 20px;
}

.drop-down--open,
.drop-down--close {
    width: 300px;
    font-size: 30px;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}
.drop-down--open:hover,
.drop-down--close:hover {
    cursor: grab;
    color: rgba(0, 0, 0, 0.54);
}
.drop-down--open:active,
.drop-down--close:active {
    cursor: grabbing;
    color: rgba(0, 0, 0, 0.54);
}

.show-button-decor {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #fd3e79;
    margin: auto 5px auto 5px;
    box-shadow:
            -2px -2px 0 0 blue inset,
            2px 2px 0 0 blue;
}

.drop-down-area {
    position: relative;
    margin: 0 20px 20px 20px;
}

.drop-down--arrow-down {
    transform: rotate(180deg);
}