.link-list {
    display: grid;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 20px;
}

.drop-down-area__toggle-button {
    display: block;
    position: relative;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    margin-left: 32px;
    background-color: #f8f8f8;
}

.drop-down-area__toggle-button::before {
    content: url('../images/readMoreArrows.svg');

    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.drop-down-area--open .drop-down-area__toggle-button::before {
    content: url('../images/readMoreArrows.svg');

    position: absolute;
    left: -20px;
    top: 50%;
    transform:  translateY(-54%) rotate(180deg) ;
}

.drop-down-area {

    position: relative;
    padding: 20px;
}

.drop-down--arrow-down {
    transform: rotate(180deg);
}