@font-face {
    font-family: 'TT Lakes'; /* Дайте шрифту любое имя */
    src: url('../font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal; /* Укажите вес шрифта */
    font-style: normal; /* Укажите стиль шрифта (normal, italic) */
    font-display: swap; /* Рекомендуется для лучшего UX: браузер сначала покажет запасной шрифт, затем загрузит ваш */
}

/* Если у вас есть жирное начертание, определите его отдельно */
@font-face {
    font-family: 'TT Lakes';
    src: url('../font/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold; /* Укажите вес как bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../font/TTLakes-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}